@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  color: #FFF;
  height: 100vh;
}

.background-image {
  background: url("../img/background-portrait-2.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh
}

.d-flex a {
  width: 18em;
}

.container-fluid {
  position: relative;
}

h1 {
  font-weight: 300;
  font-family: "Open Sans"
}

.lead {
  font-family: "Marck Script";
}

.red {
  color: #FF0000;
}

.certificates {
  overflow-y: auto;
  height: 85vh;
  overflow-x: hidden;
}

.img-thumbnail {
  margin: 1em auto;
  cursor: pointer;
}

.modal-footer {
  color: #000;
}

footer .bi {
  color: #FFF;
  letter-spacing: 1em;
  font-size: 1.2em;
  transition: color ease 0.8s;
}

footer p {
  font-family: 'Open Sans';
}

footer .bi:hover {
  color: #9ACD32;
}

@media (max-width: 1280px) {
  .d-flex a {
    width: 12em;
  }
}

@media (max-width: 512px) {
  .d-flex a {
    width: 8em;
  }
}
